@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 205 88% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 10% 4%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 70%;
    --accent: 205 100% 97%;
    --accent-foreground: 205 88% 59%;
    --destructive: 0 80% 80%;
    --destructive-foreground: 0 85% 95%;
    --border: 240 5% 84%;
    --input: 240 5% 90%;
    --ring: 205 88% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 257 22% 12%;
    --foreground: 0 0% 98%;
    --card: 257 22% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 257 22% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 205 88% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 257 22% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 257 22% 20%;
    --muted-foreground: 240 4% 75%;
    --accent: 205 50% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 50% 35%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 22% 25%;
    --input: 257 22% 25%;
    --ring: 205 88% 66%;
  }

  .urgent-mode {
    --background: 350 100% 97%; /* Light reddish */
    --card: 350 80% 99%;
    --primary: 350 70% 50%; /* Crimson */
    --primary-foreground: 0 0% 98%;
    --accent: 350 80% 60%;
    --border: 350 70% 80%;
    --ring: 350 70% 50%;
    --destructive: 0 84.2% 60.2%;
  }

  .dark.urgent-mode {
    --background: 350 30% 10%; /* Dark red */
    --card: 350 30% 15%;
    --primary: 350 80% 60%;
    --primary-foreground: 0 0% 98%;
    --accent: 350 70% 50%;
    --border: 350 30% 25%;
    --ring: 350 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
